p, section {
  color: #685206;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: center;
  text-justify: inter-word;
}

.display {
  overflow: hidden;

  margin: 5px;
  padding: 12px 12px;

  text-align: right;

  border: 0 none;
  border-radius: 4px;

  color: #3ac569;
  background-color: #000;
}

.display.-sm-width {
  max-width: 130px;
}
