<h2>Managers</h2>

<a class="btn" routerLink="/managers/new">Add Manager</a>

<div class="managers">
  <div class="row" *ngFor="let manager of allManagers">
    <ul>
      <li>
        <h2>
          <a routerLink="/managers/{{manager.id}}">
            {{manager.name}}
          </a>
        </h2>
      </li>
      <li>
        <h3>{{manager.email}}</h3>
      </li>
      <li>
        <h3>{{manager.office_number}}</h3>
      </li>
      <li>
        <h3>{{manager.cell_phone_number}}</h3>
      </li>
      <li>
        <a href="{{manager.ad.url}}">{{manager.ad.headline}}</a>
      </li>
      <li>
        <a routerLink="/managers/edit/{{manager.id}}">
          Edit
        </a>
      </li>
      <li>
        <form (ngSubmit)="deleteManager(manager)">
          <input type="submit" value="Delete"/>
        </form>
      </li>
    </ul>
  </div>
</div>