<h2>New Song</h2>

<form (ngSubmit)="saveSong(newSong)">
  <label for="title">Title:</label>
  <input name="title" [(ngModel)]="newSong.title">

  <label for="duration">Duration:</label>
  <input name="duration" [(ngModel)]="newSong.duration">

  <label for="date_of_release">Release Date:</label>
  <input name="date_of_release" [(ngModel)]="newSong.date_of_release">

  <label for="album_title">Album:</label>
  <input name="album_title" [(ngModel)]="newSong.album_title">

  <input type="submit" value="Create">
</form>
