<section class="container">
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-turret></app-turret>
  <app-laser-cannon class="laser-cannon"></app-laser-cannon>
</section>
