<app-death-square></app-death-square>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<app-tie-fighter></app-tie-fighter>
<router-outlet></router-outlet>