<section class="container">
  <app-turret [turretNumber]="1"></app-turret>
  <app-turret [turretNumber]="2"></app-turret>
  <app-turret [turretNumber]="3"></app-turret>
  <app-turret [turretNumber]="4"></app-turret>
  <app-turret [turretNumber]="5"></app-turret>
  <app-turret [turretNumber]="6"></app-turret>
  <app-turret [turretNumber]="7"></app-turret>
  <app-turret [turretNumber]="8"></app-turret>
  <app-turret [turretNumber]="9"></app-turret>
  <app-turret [turretNumber]="10"></app-turret>
  <app-turret [turretNumber]="11"></app-turret>
  <app-turret [turretNumber]="12"></app-turret>
  <app-turret [turretNumber]="13"></app-turret>
  <app-turret [turretNumber]="14"></app-turret>
  <app-turret [turretNumber]="15"></app-turret>
  <app-turret [turretNumber]="16"></app-turret>
  <app-laser-cannon class="laser-cannon"></app-laser-cannon>
</section>
