<h2>Edit Manager</h2>

<form (ngSubmit)="updateManager(updatedManager)">
  <label for="name">Name:</label>
  <input name="name" [(ngModel)]="updatedManager.name">

  <label for="email">Email:</label>
  <input name="email" [(ngModel)]="updatedManager.email">

  <label for="office_number">Office Number:</label>
  <input name="office_number" [(ngModel)]="updatedManager.office_number">

  <label for="cell_phone_number">Cell Number:</label>
  <input name="cell_phone_number" [(ngModel)]="updatedManager.cell_phone_number">

  <input type="submit" value="Update">
</form>